/* Custom fonts */
@font-face {
    font-family: 'Neue Haas Grotesk Display';
    src: url('../fonts/NeueHaasGroteskDisplay-SemLt.woff2') format('woff2'),
        url('../fonts/NeueHaasGroteskDisplay-SemLt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display';
    src: url('../fonts/NeueHaasGroteskDisplay-SmLtIt.woff2') format('woff2'),
        url('../fonts/NeueHaasGroteskDisplay-SmLtIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	/* max-width: 100%; */
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Neue Haas Grotesk Display','Helvetica Neue', sans-serif;
	font-size: 1.6rem;
	/* font-weight: 300; */
	text-transform: uppercase;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: black;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
}

/* MODAL */
.modal {
	position: fixed;
	background-color: #69e044;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	padding: 2em 10em;
	font-size: 2.5rem;
	text-align:justify;
	z-index: -100;
	/* display: none; */
}

.modal-open{
	opacity: 100;
	z-index: 100;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 2rem;
	width: 2rem;
	text-decoration: none;
	display: none;
}

.info-charte {
	height: 90%;
	overflow-y: scroll;
	text-transform: none;
}
.info-charte::-webkit-scrollbar {
	width:30px; 
  }
  .info-charte::-webkit-scrollbar * {
	background:transparent; 
  }
  .info-charte::-webkit-scrollbar-thumb {
	background:transparent;
  }
/* Fonts styles */
.info-charte h2 {
	font-size: 2.5rem;
	margin: 2em 0 0.5em 0;

}
.info-charte {
	font-size: 2rem;
}
p {
	font-size: 2rem;
	margin-bottom: 0.3em;
}
.warning {
	font-weight: 900;
	font-style: normal;
	margin: 1em 0 ;
	
}
.info-charte ul {
	list-style:none;
	margin-bottom: 1em;

}
.info-charte li {

	margin-bottom: 0.3em;
}
.info-charte li:before {
	content:"- ";
	
}

.main {
	/* height: 50vh; */
	margin-bottom: 3em;
	overflow: hidden;
	width: 100%;
	position: relative;
	scroll-behavior: none;
}

.main__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__logo img {
	height: 80vh;
}

ul {
	list-style: none;
}


/* marquee { 
  overflow: hidden;
  position: relative;
  animation: MarqueeRight linear 10s infinite; 
} */

/* @keyframes MarqueeRight
{
  0% { left: -100% }
  100% { left: 100% }
} */

.header__info {
	background: #69e044;
}

.text-box {
	display: inline-block;
	padding: 1em 1.5em;
}

.footer {
	font-size: 2rem;
	margin-top: -5rem;
}

.footer__contact {
	background: #e98862;
}

.footer__instagram {
	background: #b0abf8;
	margin-left: -0.3em;
}

.footer__contact,
.footer__instagram {
	padding: 0.5em 1em;
	
}

/* Marquee styles */
.marquee {
	--gap: 1rem;
	position: absolute;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	/* background: lightgray; */
	/* border: 1px solid red; */
	z-index: 2000;
	/* opacity: 75%; */
	top: calc(50% - 9vh);
}

li img {
	height: 18vh;
	opacity: 100%;
	z-index: 2000;
}

.marquee__content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll 15s linear infinite;
	animation-direction: reverse;
	position: relative;
}

.marquee:before {
	content: '';
	display: block;
	/* background: lightgray; */
	/* opacity: 30%; */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

/* MEDIA QUERIES */

@media screen and (max-width: 750px) {
	body {
		font-family: 'Neue Haas Grotesk Display','Helvetica Neue', sans-serif;
		
	}
	main{
		height: 50vh;
	}
	.marquee li {
		margin-right: 4em;
	}
	
	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
	}

	.footer__contact,
	.footer__instagram {
		width: 50vw;
		text-align: center;
		font-size: 1.8rem;
		margin: 0 ;
	}
	.footer h2 {
		font-weight: normal;
	}
	.info-charte h2, p, li {
		font-size: 1.8rem;
	}

	.text-box {
		padding: 0.8em 1.2em;
	}
	.footer .text-box {
		padding: 0.5em 0;
	}

	.main img {
		height: 50vh;
	}
	.modal {
		padding: 1em;
		text-align: left;
	}
}
